<h3>All Claims posted by <%= @user.username %></h3>

<% @user.claims.each_with_index do |claim, i| %>
  <h2><a href="/subjects/<%=claim.subject.slug%>"><%=claim.subject.name%></a></h2>
  <p>Date of Claim: <%= claim.created_at %></p>
  <p>Location: <%= claim.location %></p>
  <p>What Happened: <%= claim.content %></p>
  <p><a href="/claims/<%=claim.id%>/edit">Edit</a>|<a href="/claims/<%=claim.id%>/delete">Delete</a></p>
<% end %>

<br>
<p><a href="/claims/new_claim">Make a new claim</a></p>
<p><a href="/subjects/search">Search subjects by name</a></p>
<p><a href="/user/find_corroborators">Find Corroborators</a></p>
<p><a href="/user/logout">Log out</a></p>
