<h3>Edit a Claim</h3>
<form action="/claims/<%=@claim.id%>" method="post">
<p>Subject Name: <input type="text" name="subject[name]" id="subject_name" value="<%=@claim.subject.name%>"></p>
<p>Location of Events: <input type="text" name="claim[location]" id="location" value="<%=@claim.location%>"></p>
<p>Content:
  <br>
  <input style="height:200px; width:400px;" type="textarea" name="claim[content]" id="content" value="<%=@claim.content%>">
</p>
<p>Do you wish to be contacted by future corroborators?</p>
<p><input type="radio" name="user[contact]" value="yes">Yes <input type="radio" name="user[contact]" value="no">No</p>
<p>Do you agree to these <a href="/terms" target="_blank">terms and conditions</a>?</p>
<p><input type="checkbox" name="agree" value="yes">Yes </p>
<br>
<input type="submit" value="submit" id="submit">
</form>

<% if flash.has?(:warning) %>
  <%= flash[:warning] %>
<% end %>

</div>
